DROP DATABASE IF EXISTS music_emotions_library_db;
CREATE DATABASE music_emotions_library_db;
USE music_emotions_library_db;

-- Drop existing tables if they exist
DROP TABLE IF EXISTS tracks;
DROP TABLE IF EXISTS emotions;
DROP TABLE IF EXISTS track_emotions;

-- Create the 'tracks' table
CREATE TABLE tracks (
    track_id INT AUTO_INCREMENT PRIMARY KEY,
    file_path VARCHAR(255)
);

-- Create the 'emotions' table
CREATE TABLE emotions (
    emotion_id INT AUTO_INCREMENT PRIMARY KEY,
    emotion_name VARCHAR(255) UNIQUE
);

-- Create the 'track_emotions' join table
CREATE TABLE track_emotions (
    track_id INT,
    emotion_id INT,
    PRIMARY KEY (track_id, emotion_id),
    FOREIGN KEY (track_id) REFERENCES tracks(track_id),
    FOREIGN KEY (emotion_id) REFERENCES emotions(emotion_id)
);
